.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../../Assets/regal.png");
}

.app_header {
  width: 100%;
}
