.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background-color: #87aaae;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

a {
  color: white;
  margin-right: 2%;
  text-decoration: none;
  font-weight: 200;
}
a:hover {
  color: #bc4676
}

.active {
   color: #bc4676
}

.nav_links_container {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  padding-bottom: 1%;
}

.logo_section {
  height: 130px;
  background-image: url("../../Assets/Movie-Tracker.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
}
